body {
    font-family: 'Open Sans', sans-serif;
    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    line-height: 1.65em;
}

.container {
    width: 1170px;
    /* width: 1250px; */

    margin: 0 auto;
    /* border: 5px solid red; */

}

.header {
    background: rgba(228,59,124,1);
    background: -moz-linear-gradient(-45deg, rgba(228,59,124,1) 0%, rgba(228,59,124,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(228,59,124,1)), color-stop(100%, rgba(228,59,124,1)));
    background: -webkit-linear-gradient(-45deg, rgba(228,59,124,1) 0%, rgba(228,59,124,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(228,59,124,1) 0%, rgba(228,59,124,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(228,59,124,1) 0%, rgba(228,59,124,1) 100%);
    background: linear-gradient(135deg, rgba(228,59,124,1) 0%, rgba(228,59,124,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e43b7c', endColorstr='#e43b7c', GradientType=1 );

    color: #ffff;

    padding-top: 100px;
    /* height: 500px; */
    padding-bottom: 110px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center; 
}


.offer {
    /* margin-top: 176px; */
    /* width: 683px; */
}

.title {
    font-size: 36px;
    width: 603px;
}

.title span {
    color: #48ed8e;
}

.intro {
    margin-bottom: 47px;
    margin-top: 30px;
    width: 370px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background: #ffff;
    color: #050101;
    /* border-radius: 100px; */
    display: block;
    width: 205px;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #d7c9c9;
}

.desktop {
    margin-top: 60px;
}

.learn {
    padding-top: 108px;
    padding-bottom: 120px;
    /* text-align: center; */
}

.section-title {
    font-size: 30px;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.skill {
    width: 350px;
    background: url('../img/icons8-time-machine-96.jpg') no-repeat top;
    padding-top: 100px;
    text-align: center;
}

.skill-title {
    font-size: 18px;
}

.skill-text {
    margin-top: 20px;
}

.skill-free {
    width: 290px;
}

.skill-travel {
    background: url('../img/icons8-beach-96.jpg') no-repeat top;
    width: 300px;
}

.skill-value {
    background: url('../img/icons8-launch-96.jpg') no-repeat top;
    width: 300px;
}

.mail {
    background: #efecf4;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form {
  margin-top: 40px;

  /* display:flex; 
  flex-direction: column;
  align-items: center; */

  /* width: 340px;
  margin: 0 auto;  */

  max-width: 340px;
}

.input {
  /* width: 340px; */
  border: 1px solid #bbbbbb;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  /* border-radius: 100px; */
  height: 45px;
  padding-left: 30px;
  /* text-align: center; */

  /* margin: 0 auto 15px; */


  width: 100%;
}

.btn-form {
    border: 0;
    cursor: pointer;
    display: inline;
    margin-left: 11px;
    /* text-align: center; */
    
     /* width: 340px; */
    /* margin: 0 auto; */

    width: 100%;

}


.footer {
    padding: 33px 0px;
    background: #164d7a;
}

.credits {
  color: #ffff;
  font-size: 14px;
  text-align: center;
}
